	<footer id="footer">
		<div class="wrapper">
			<strong class="footer-pravo-agency">pravo agency:</strong>
			<p class="footer-text">01001, Киев, ул.Костёльная 9, оф.8<span>+380 (67) 324 10 10</span></p>
			<a href="#">hello@pravo.agency</a>
			<div class="socials">
				<a href="#" class="facebook"></a>
				<a href="#" class="twitter"></a>
				<a href="#" class="linkedin"></a>
			</div>
			<p class="footer-copy">&copy; 2015, <strong>Pravo agency</strong></p>
		</div>
	</footer>
</div>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/vendor.js"></script>
</body>
</html>