<nav class="mobile-menu">
    <div class="mobile-menu-item">
    	<ul>
			<li><a href="#">Услуги и ЦЕНЫ</a></li>
			<li><a href="#">ОТЗЫВЫ</a></li>
			<li class="current-menu-item"><a href="#">КОНТАКТЫ</a></li>
		</ul>
		<div class="language">
			<a href="#">Ru</a>
		</div>
		</a>
    </div>
</nav>
<header id="header">
	<div class="wrapper">
		<div class="header-content">
			<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
			<div class="menu-burger"><span class="menu-burger-item"></span></div>
			<div class="language">
				<a href="#">Ru</a>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="#">Услуги и ЦЕНЫ</a></li>
					<li><a href="#">ОТЗЫВЫ</a></li>
					<li class="current-menu-item"><a href="#">КОНТАКТЫ</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>