// .main-content
.main-content
	position: relative
	overflow: hidden
	// clear: both
	min-height: 670px
	padding-left: 60px
	+box-sizing(border-box)
.main-content-img
	position: absolute
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: -1
	width: 100%
	height: 100%
	text-align: center
	
.main-content-text
	margin-top: 180px
	max-width: 445px
	width: 100%
	color: #454545
	h3
		font-size: 30px
		line-height: 35px
		display: block
		font-weight: bold
		line-height: 1
		padding-right: 100px
		&:after
			content: ""
			width: 40px
			height: 2px
			background: #a70c5d
			display: inline-block
	p 
		font-size: 15px
		line-height: 24px
		display: block
		margin-bottom: 35px
	.main-content-text-price
		font-size: 11px
		text-transform: uppercase
		font-weight: bold
		background: #a70c5d
		+border-radius(45px)
		color: #fff
		padding: 13px 15px 15px
		&:before
			+font-icon("")
			font-size: 22px
			color: #fff
.play 
	width: 90px
	height: 90px
	+border-radius(100%)
	background: #fff
	position: absolute
	z-index: 2
	top: 50%
	left: 50%
	+transform(translate(-50%, -50%))
	text-align: center
	&:before
		content: ""
		width: 0
		height: 0
		border-top: 10.5px solid transparent
		border-bottom: 10.5px solid transparent
		border-left: 17px solid #a70c5d
		top: 50%
		left: 50%
		position: absolute
		+transform(translate(-50%, -50%))
	&:after
		content: ""
		width: 0
		height: 0
		border-top: 7.5px solid transparent
		border-bottom: 7.5px solid transparent
		border-left: 11px solid #fff
		margin-left: -1px
		top: 50%
		left: 50%
		position: absolute
		+transform(translate(-50%, -50%))
// .main-content

.main-title
	display: block
	text-align: center
	text-transform: uppercase
	font-weight: bold
	font-size: 28px
	line-height: 30px
	color: #3f4147
	margin-bottom: 15px
	margin-top: 60px
	&:after
		content: ""
		width: 40px
		height: 2px
		background: #a70c5d
		display: block
		margin: auto
		margin-top: 10px
		
.title-desc
	display: block
	text-align: center
	margin: auto
	max-width: 480px
	color: #3f4147
	font-size: 15px
	line-height: 20px

// services-price
.services-price-item
	border-bottom: 1px dashed #d0d1d3
	padding: 35px 0

	&:nth-of-type(1)
		border-top: 1px solid #f4f4f4
	&:last-child
		border-bottom: 1px solid #f4f4f4
	&>.wrapper
		+pie-clearfix
.services-price-item-ins
	float: left
	width: 50%
	+box-sizing(border-box)
	padding-left: 70px
	&:first-child
		border-right: 1px dashed #d0d1d3
		padding-right: 70px
		padding-left: 0px
	h5
		font-size: 15px
		line-height: 1
		display: block
		color: #3f4147
		font-weight: bold
		margin-bottom: 25px
		text-transform: uppercase
		padding-right: 40px
		position: relative
		&:before
			position: absolute
			font-size: 45px
			color: #b6b6b6
			left: -45px
			top: 0
			

	li 
		display: block
		color: #414252
		font-size: 13px
		line-height: 20px
		margin-bottom: 5px
		padding-left: 25px
		position: relative
		&:before
			content: ""
			width: 7px
			height: 7px
			border: 2px solid #9f2865
			+border-radius(100%)
			+box-sizing(border-box)
			display: inline-block
			position: absolute
			top: 6px
			left: 8px
		
	p 
		font-size: 13px
		line-height: 20px
	.services-price-icon-1
		&:before
			+font-icon("services-icon-4")
	.services-price-icon-2
		&:before
			+font-icon("services-icon-3")
	.services-price-icon-3
		&:before
			+font-icon("services-icon-1")
	.services-price-icon-4
		&:before
			+font-icon("services-icon-2")
// services-price

// reviews
.reviews
	border-bottom: 1px solid #f4f4f4
.reviews-content
	+pie-clearfix
.load-more
	font-size: 11px
	line-height: 1
	font-weight: bold
	display: block
	// clear: both
	text-align: center
	text-transform: uppercase
	color: #454545
	margin-top: 65px
	span 
		&:before
			+font-icon("reloading")
			font-size: 15px
			color: #a70c5d
			display: inline-block
			vertical-align: top
			+transform(rotate(40deg))
			margin-top: -3px
			margin-right: 12px
			font-weight: 300
		
.reviews-item
	padding-right: 80px
	+box-sizing(border-box)
	float: left
	width: 33.33333%
	.quote
		&:before
			+font-icon("quote")
			font-size: 15px
			color: #c9cacf
	.video
		&:before
			+font-icon("video")
			font-size: 15px
			color: #c9cacf
	p 
		color: #3f4147
.reviews-item-subject
	margin-bottom: 20px
.reviews-item-recall
	min-height: 120px
	color: #3f4147
	display: block
.reviews-item-destination
	.destination-icon
		display: block
		
	.destination-name
		font-weight: bold
		color: #3f4147
		font-size: 13px
		display: block
		
	.destination-company
		font-size: 13px
		color: #3f4147
		span
			// font-size: 12px
			text-transform: uppercase
			&:after
				content: ""
				display: inline-block
				vertical-align: middle
				width: 3px
				height: 3px
				background: #a70c5d
				+border-radius(100%)


// reviews


// services
.services
	border-bottom: 1px solid #f4f4f4
.services-content
	text-align: center
.services-item
	width: 380px
	display: inline-block
	vertical-align: top
	text-align: left
	margin: 0 20px
	input
		border: none
		border-bottom: 1px solid #dcdcdc
		display: block
		width: 100%
		padding: 10px 0
		font-weight: bold
		text-transform: uppercase
		color: #3f4147
		font-size: 11px
		line-height: 1
		margin-bottom: 10px
		+placeholder 
			color: #3f4147
			font-size: 11px
			line-height: 1
			+opacity(0.7)
			+transition(0.2s)
		&:focus
			+placeholder 
				+opacity(0)
	textarea
		border: 1px solid #dcdcdc
		color: #dcdcdc
		font-size: 15px
		line-height: 1
		display: block
		resize: none
		width: 100%
		min-height: 250px
		+box-sizing(border-box)
		padding: 18px 16px
		+placeholder 
			color: #dcdcdc
			font-size: 15px
			line-height: 1
			+opacity(0.8)
			+transition(0.2s)
		&:focus
			+placeholder 
				+opacity(0)
	select, option
		color: #dcdcdc
		font-size: 15px
		line-height: 1
	label
		p 
			text-transform: uppercase
			color: #3f4147
			font-size: 11px
			line-height: 1
			display: block
			margin-bottom: 10px
			font-weight: bold
	input[type="submit"]
		font-size: 11px
		text-transform: uppercase
		font-weight: bold
		background: #a70c5d
		+border-radius(45px)
		color: #fff
		padding: 13px 15px 15px
			

// services

