#header
	// height: 0
	position: absolute
	top: 0
	right: 0
	left: 0
	width: 100%
.header-content
	+pie-clearfix
	.logo
		float: left
	.main-menu
		float: right
		li
			display: inline-block
			vertical-align: top
			a 
				font-size: 11.75px
				line-height: 1
				text-transform: uppercase
				color: #3f4147
		.curent-menu-item
			color: #a70c5d
	.languge
		float: right
		a 
			text-transform: uppercase
			color: #810a47
			font-weight: 900
			padding: 6px 8px
			+border-radius(20px)
			border: 1px solid #dfdfe2
			font-size: 11px
			display: inline-block
			vertical-align: middle
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 18px
				height: 18px
				+border-radius(100%)
				background: #dfdfe2
				margin-right: 10px